* {
    margin: 0;
}

h1 {
    font-weight: bold;
    color: rgb(59, 3, 22);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    font-weight: bold;
    color: rgb(59, 3, 22);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

h3 {
    color: #ff0000;
    font-size: small;
    display: inline !important;
}

h4 {
    font-size: medium;
}

h5 {
    display: inline !important;
    font-size: medium;
}

h6 {
    font-weight: bold;
    color: rgb(59, 6, 24);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.about {
    font-size: large;
}


body {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.bookIdTextContainer {
    text-align: center;
    padding: 10px;

}

.button-de-longifier {
    display: flex;
    direction: row;
    gap: 10px;
}

.h2Right {
    font-weight: bold;
    color: rgb(59, 3, 22);
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-bottom: 10px;
}

.bookIdText {
    display: inline;
    font-size: medium;
    color: #440500;
}

.bookIdLine {
    display: inline;
    font-size: medium;
    color: #44050042;
}

.idPageContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#tagsList {
    text-align: left;
    flex: 1;
}

#genresContainer {
    text-align: left;
    flex: 1;
}

#genresContainer p {
    margin: 5px 0;
}

.bookIdTextTags {
    font-size: medium;
    color: #440500;
    margin: 10px;
}

.bookIdTextGenres {
    font-size: medium;
    color: #440500;
    padding: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 3px;
    background-color: #3a993f;
    color: black;
}

.centered-text {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.label-text {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;

}

a:hover {
    color: #552a12;
}

.error {
    background-color: rgb(221, 128, 159);
}

.button {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.button:hover {
    background-color: #552a12;
}

.reviewButton {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;

    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
    height: 50px;
}

.reviewButton:hover {
    background-color: #552a12;
}

.button:disabled {
    background-color: #3a993f;
    opacity: 50%;
}

.tableButton {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.tableButton:hover {
    color: #552a12;
}

.bookButton {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.bookButton:hover {
    background-color: #552a12;
}

.bookButton:disabled {
    background-color: #3a993f;
    opacity: 50%;
}

.text-button {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align: left;
    border: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding-left: 20px;
    padding-right: 20px;
}

.text-button:hover {
    cursor: pointer;
    color: #552a12;
}

.small-button {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-align: center;
    font-size: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: 80%;
}

.small-button:hover {
    background-color: #552a12;
}

.small-button:disabled {
    background-color: #3a993f;
    opacity: 50%;
}

.exit-button {
    background-color: rgb(226, 226, 226);
    border: 1px solid black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding: 5px, 3px;
}

.deleteButton {
    border-radius: 4px;
    border: none;
    background-color: #ec4e4e;
    cursor: pointer;
    float: right;
    padding: 10px, 10px;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
}

.deleteButton:hover {
    background-color: red;

}

#backButton {
    padding: 10px 20px;
    font-size: 16px;
    color: #552a12;
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    top: 10px;
    left: 10px;
    transition: color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#backButton:hover {
    color: #000000;
}

#backButtonBD {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    color: #552a12;
    background-color: blanchedalmond;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    top: 10px;
    left: 10px;
    transition: color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#backButtonBD:hover {
    color: #000000;
}

.searchbar {
    position: absolute;
    overflow: hidden;
    background-color: #000000;
    backdrop-filter: blur(2px);
}

.searchContainer {
    display: flex;
    flex-direction: row;
    background-color: #3a993f;
    max-width: 250px;
    border-radius: 8px;
}

.bookSearchbar {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 11px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    max-width: 300px;
}

.new-book-input {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 11px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    max-width: 300px;
}

.bookSearchbar::placeholder {
    color: #552a12;
}

.bookSearchbar:focus {
    outline: none;
}

.new-book-input {
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 11px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    max-width: 300px;
}

.new-book-input:focus {
    outline: none;
}

.new-book-input::placeholder {
    color: #552a12;
}

.searchButton {
    background-image: url(assets/searchIcon.svg);
    background-color: #3a993f;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    color: white;
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #552a12;
}

.searchButton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

input[id=selectedBook] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px;
    border: none;
    border-radius: 8px;
    margin: 16px 14px;
    font-size: 18px;
    background-color: #3a993f;
    text-align: left;
    text-indent: 8px;
    outline: none;
    color: #000000;
}

input[id=selectedBook]::placeholder {
    color: #552a12;
}

/*unused*/
input[id=selectedAuthor] {
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px;
    border: none;
    border-radius: 8px;
    margin: 16px 14px;
    font-size: 18px;
    background-color: #3a993f;
    text-align: left;
    text-indent: 8px;
    outline: none;
    color: #000000;
}

/*unused*/
input[id=selectedAuthor]::placeholder {
    color: #552a12;
}

.searchbar,
input[id=books] {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);

}

.container {
    display: flex;
    justify-content: center;
}

.nice-checkbox {
    accent-color: #3a993f;
    cursor: pointer;
}

.nice-radio {
    accent-color: #3a993f;
    cursor: pointer;
}

.star {
    font-size: 5vh;
    cursor: pointer;
}

.one {
    color: #ff0000;
}

.two {
    color: rgb(230, 137, 71);
}

.three {
    color: rgb(187, 255, 0);
}

.four {
    color: yellow;
}

.five {
    color: rgb(218, 107, 172);
}

.violenceRadio {
    accent-color: #440500;
    cursor: pointer;
}

.btn-open-popup {
    padding: 12px 24px;
    font-size: 18px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-open-popup:hover {
    background-color: #4caf50;
}

.overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay-container.show {
    display: flex !important;
}

.add-overlay-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.add-overlay-container.show {
    display: flex !important;
}

.add-overlay-container.show {
    display: flex;
    opacity: 1;
}

#bookReviewPopup {
    background: blanchedalmond;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 600px;
    margin: auto;
    height: 80vh;
    max-height: 80vh;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
    overflow-y: auto;
    z-index: 1000;
}

#addBookOverlay {
    background: blanchedalmond;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: auto;
    height: auto;
    max-height: 80vh;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
    overflow-y: auto;
    z-index: 1000;
}

/*Table styling*/
table,
th,
td {
    border: none;
    padding: 10px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;

}

tr:nth-child(even) {
    background-color: #fffdde;
}

th {
    background-color: #3a993f;
    color: blanchedalmond;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.btn-submit,
.btn-close-popup {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-submit {
    background-color: green;
    color: #fff;
}

.btn-close-popup {
    margin-top: 12px;
    background-color: #e74c3c;
    color: #fff;
}

.btn-submit:hover,
.btn-close-popup:hover {
    background-color: #4caf50;
}

/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for popup */
.overlay-container.show {
    display: flex;
    opacity: 1;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 25%;
    border-radius: 8px;

}

.p-image {
    float: right;
    margin: 10px;
    width: 15%;
    border-radius: 8px;
    border: 3px solid #f5cab4;
    cursor: url('/assets/bbokariCursor.png'), crosshair;
}

.hiddenTextDiv {
    color: blanchedalmond;
    display: inline-block;
    transition: background-color 0.3s ease
}

.hiddenTextDiv:hover {
    color: #000000;
    margin: 0;
    padding: 0;
}

.hiddenText {
    color: blanchedalmond;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease
}

.hiddenText:hover {
    color: black;
    margin: 0;
    padding: 0;
}

.hiddenTextEvil {
    color: blanchedalmond;
    margin: 0;
    padding: 0;
    transition: color 0.3s ease
}

.hiddenTextEvil:hover {
    color: rgb(59, 12, 12);
    margin: 0;
    padding: 0;
}

.img1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img1:hover {
    box-shadow: 0 0 2px 1px rgba(0, 143, 186, 0.5);
    /*hehehehehehe*/
}

.image-container {
    text-align: center;
    width: 100px;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.img2 {
    display: block;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.img2:hover {
    box-shadow: 0 0 2px 1px rgba(0, 143, 186, 0.5);
    /*hehehehehehe*/
}

.tagsDropdown {
    appearance: none;
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 11px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    width: 150px;
    max-width: 300px;
    margin: 0px;
    cursor: pointer;
    background-image: url(assets/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 30px;
}

.tagsDropdown:focus {
    outline: none;
}

.genresDropdown {
    appearance: none;
    background-color: #3a993f;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    padding: 11px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    width: 150px;
    max-width: 300px;
    margin: 10px;
    background-image: url(assets/arrow.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 30px;
    cursor: pointer;
}

.genresDropdown:focus {
    outline: none;
}
